body {
    background: url('sprites/background2.jpeg');
    background-size: cover;
}

#startGame {
    margin-left: 700px;
}

#startGame h3 {
    font-family: 'Sarpanch', sans-serif;
    font-weight: bold;
}

.playerName {
    font-family: 'Sarpanch', sans-serif;
}

.ageScale {
    font-family: 'Sarpanch', sans-serif;
}

.progress {
    margin: 10px;
    width: 700px;
}

#canvas {
    background: url('sprites/daytimeLandscape_files/tree-landscape-vector-13951878.jpg');
    background-size: cover;
    border: 4px solid;
    margin: auto;
    width: 1200px;
    height: 600px;
}

.koromonImg {
    margin-top: 395px;
    margin-left: 220px;
    visibility: hidden;
}

.agumonImg {
    margin-top: 395px;
    margin-left: 500px;
    visibility: hidden;
}

#digivolve1 {
    width: 1200px;
    height: 600px;
}

#buttonArray {
    font-family: 'Sarpanch', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

button {
    width: 20%;
    float: left;
    margin: 2.5%;
}

.progress {
    width: 100%;
    background: radial-gradient(#000, #7a83fa, #000);
}