.progress {
    margin: 10px;
    width: 700px;
}

#canvas {
    background: url('sprites/daytimeLandscape_files/tree-landscape-vector-13951878.jpg');
    background-size: cover;
    width: 1200px;
    height: 600px;
}

.koromonImg {
    margin-top: 395px;
}

#digivole1 {
    width: 1200px;
    height: 600px;
}